<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lakbaypinas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LakbayPinas">
        <activity android:name=".pangasinan"></activity>
        <activity android:name=".Tawitawi" />
        <activity android:name=".Sulu" />
        <activity android:name=".Maguindanao" />
        <activity android:name=".LanaoDelSur" />
        <activity android:name=".Basilan" />
        <activity android:name=".SurigaoDelSur" />
        <activity android:name=".SurigaoDelNorte" />
        <activity android:name=".DinagatIslands" />
        <activity android:name=".AgusanDelSur" />
        <activity android:name=".AgusanDelNorte" />
        <activity android:name=".SultanKudarat" />
        <activity android:name=".SouthCotabato" />
        <activity android:name=".Sarangani" />
        <activity android:name=".Cotabato" />
        <activity android:name=".DavaoOriental" />
        <activity android:name=".DavaoOccidental" />
        <activity android:name=".DavaoDelSur" />
        <activity android:name=".DavaoDelNorte" />
        <activity android:name=".CompostelaValley" />
        <activity android:name=".MisamisOriental" />
        <activity android:name=".MisamisOccidental" />
        <activity android:name=".LanaoDelNorte" />
        <activity android:name=".Camiguin" />
        <activity android:name=".Bukidnon" />
        <activity android:name=".ZamboangaSibugay" />
        <activity android:name=".ZamboangDelSur" />
        <activity android:name=".ZamboangaDelNorte" />
        <activity android:name=".SouthernLeyte" />
        <activity android:name=".Samar" />
        <activity android:name=".NorthernSamar" />
        <activity android:name=".Leyte" />
        <activity android:name=".EasternSamar" />
        <activity android:name=".Biliran" />
        <activity android:name=".Siquijor" />
        <activity android:name=".NegrosOriental" />
        <activity android:name=".Cebu" />
        <activity android:name=".Bohol" />
        <activity android:name=".NegrosOccidental" />
        <activity android:name=".Iloilo" />
        <activity android:name=".Guimaras" />
        <activity android:name=".Capiz" />
        <activity android:name=".Antique" />
        <activity android:name=".Aklan" />
        <activity android:name=".MetroPololitanManila" />
        <activity android:name=".MountainProvince" />
        <activity android:name=".Kalinga" />
        <activity android:name=".Ifugao" />
        <activity android:name=".Benguet" />
        <activity android:name=".Apayao" />
        <activity android:name=".Abra" />
        <activity android:name=".Sorsogon" />
        <activity android:name=".Masbate" />
        <activity android:name=".Catanduanes" />
        <activity android:name=".CamarinesSur" />
        <activity android:name=".CamarinesNorte" />
        <activity android:name=".Albay" />
        <activity android:name=".Romblon" />
        <activity android:name=".Palawan" />
        <activity android:name=".OrientalMindoro" />
        <activity android:name=".OccidentalMindoro" />
        <activity android:name=".Marinduque" />
        <activity android:name=".Rizal" />
        <activity android:name=".Quezon" />
        <activity android:name=".Laguna" />
        <activity android:name=".Cavite" />
        <activity android:name=".Batangas" />
        <activity android:name=".Zambales" />
        <activity android:name=".Tarlac" />
        <activity android:name=".Pampanga" />
        <activity android:name=".NuevaEcija" />
        <activity android:name=".Bulacan" />
        <activity android:name=".Bataan" />
        <activity android:name=".Aurora" />
        <activity android:name=".Quirino" />
        <activity android:name=".NuevaVizcaya" />
        <activity android:name=".Isabela" />
        <activity android:name=".Cagayan" />
        <activity android:name=".Batanes" />
        <activity android:name=".LaUnion" />
        <activity android:name=".Ilocossur" />
        <activity android:name=".IlocosNorte" />
        <activity android:name=".NCR" />
        <activity android:name=".CAR" />
        <activity android:name=".ARMM" />
        <activity android:name=".Region13" />
        <activity android:name=".Region12" />
        <activity android:name=".Region10" />
        <activity android:name=".Region11" />
        <activity android:name=".Region9" />
        <activity android:name=".Region8" />
        <activity android:name=".Region7" />
        <activity android:name=".Region6" />
        <activity android:name=".Region5" />
        <activity android:name=".Region4b" />
        <activity android:name=".Region4a" />
        <activity android:name=".Region3" />
        <activity android:name=".Region2" />
        <activity android:name=".Region1" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>